/* Importação (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

/* CSS Reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
html {
  scroll-behavior: smooth;
}

/* Layout */
.Container {
  margin: 0 auto;
}
.Flex,
.Flex2,
.Flex3,
.Flex4,
.Flex5,
.Flex6 {
  display: flex;
}
.Flex {
  justify-content: space-between;
  text-transform: uppercase;
  height: 100%;
}
.Flex2 {
  align-items: center;
}
.Flex3 {
  flex-direction: column;
}
.Flex4 {
  flex-direction: column-reverse;
  text-align: center;
}
.Flex5 {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Flex6 {
  flex-direction: column;
  justify-content: space-around;
}
.Botao {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  background-color: #c00000;
  padding: 5px 40px;
  border: 2px solid #fff;
  border-radius: 25px;
}

/* Topo do site */
#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.Card {
  margin-top: 30px;
  width: 338px;
  height: 520px;
  background-color: #e8e8e8;
  border: 1px solid #a1a1a1;
  border-radius: 25px;
  text-align: center;
}
.Card img {
  border-radius: 25px 25px 0px 0px;
}
.Card h3 {
  margin-top: 15px 30px 0px 30px;
}
.Card p {
  text-align: left;
  color: #434343;
  padding: 10px 30px 50px 30px;
}
.Card a {
  padding: 10px 100px 10px 100px;
  border: 0;
  border-radius: 25px;
  margin: 0;
}
.Todos {
  text-align: center;
  margin-top: 50px;
}
.Todos a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.25em;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Cabeçalho */
header {
  height: 60px;
}
#logo img {
  width: 100px;
  height: 100px;
}
#check {
  display: none;
}
label {
  font-size: 3em;
  position: fixed;
  top: 5px;
  right: 15px;
  color: rgba(0, 0, 0, 0.5);
}
nav ul {
  list-style: none;
  background-color: #343538;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 60%;
  transition: all 0.5s;
}
#check:checked ~ ul {
  right: 0;
}
nav ul li {
  padding: 15px 15px;
}
nav ul li a {
  text-decoration: none;
  color: #ffff;
}

/* Destaque */
main {
  height: 60vh;
  background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.6)),
    url(/img/banner.jpg);
  /*background: url(img/banner.jpg);*/
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main h1 {
  font-size: 2em;
  color: #f04321;
}
main h2 {
  font-size: 1.5em;
  margin: 15px 0px 15px 0px;
  color: #86c7f0;
}

/* Sobre */
#sobre {
  padding: 40px 0px;
  background: linear-gradient(rgba(45, 45, 45, 0.6), rgba(20, 20, 20, 1)),
    url(/img/background.jpg);
  background-size: cover;
  background-position: center;
}
#destaqueSobre {
  display: none;
}
#textoSobre {
  color: #fff;
  padding: 0px 10px;
}
#textoSobre h2 {
  margin-bottom: 10px;
}
.topicosSobre {
  margin-top: 20px;
}
.topicosSobre img {
  margin-right: 10px;
}

/* One page */
#destaqueonepage img {
  display: none;
}
#onepage {
  padding: 40px 10px;
}
#onepage h2 {
  margin-bottom: 10px;
}
#onepage p {
  margin-bottom: 25px;
}
#video iframe {
  width: 340px;
  height: 191px;
  border: 0;
}
/* Wireframe */
#wireframe {
  padding: 40px 0px;
  background: linear-gradient(rgba(45, 45, 45, 0.6), rgba(20, 20, 20, 1)),
    url(/img/background.jpg);
  background-size: cover;
  background-position: center;
}
#textoWire {
  color: #fff;
  padding: 0px 10px;
}
#textoWire h2 {
  margin-bottom: 10px;
}
#textoWire p {
  margin-bottom: 30px;
}
#textoWire span {
  display: none;
}
#qrcode {
  display: none;
}

/* Conteúdo */
#conteudo {
  padding: 50px 0px;
}
#conteudo h2 {
  margin-bottom: 25px;
  text-align: center;
}
#todos {
  margin-top: 50px;
  text-align: center;
}
#todos a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.25em;
}

/* Rodapé */
#contato #zap {
  width: 35px;
  height: 35px;
}
#contato #fone {
  width: 28px;
  height: 28px;
}
#contato a {
  display: flex;
  align-items: center;
  gap: 15px;
}
address {
  padding: 35px 15px 50px 15px;
  background-color: #a1a1a1;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-style: normal;
}
address a {
  text-decoration: none;
  color: #fff;
}
address img {
  padding-top: 15px;
}
#iconeLocal {
  display: none;
}
#endereco {
  margin: 30px 0px 15px 0px;
}
#googlemaps {
  display: none;
}

footer {
  padding: 2.5rem;
  background-color: #343538;
  color: #fff;
  text-align: center;
  font-size: 0.875em;
}

#social {
  margin-bottom: 1.5rem;
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
  /* Layout */
  .Container {
    max-width: 540px;
  }

  /* Destaque */
  main h1,
  main h2 {
    text-shadow: white 0.03em 0.03em 0.03em;
  }

  /* Rodapé */
  .Flex4 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #social {
    margin: 0;
  }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
  /* Layout */
  .Container {
    max-width: 720px;
  }
  /* Destaque*/
  main {
    height: 45vh;
  }
  main h1 {
    font-size: 5.5em;
  }
  main h2 {
    font-size: 2em;
  }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
  /* Layout */
  .Container {
    max-width: 960px;
  }
  /* Destaque*/
  main {
    height: 70vh;
  }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
  /* Layout */
  .Container {
    max-width: 1140px;
  }

  /* Cabeçalho*/
  header {
    height: 90px;
  }
  #logo img {
    width: 170px;
    height: 170px;
    margin-top: 5px;
  }
  main {
    height: 90vh;
  }
  main h1 {
    font-size: 5em;
    color: #f04321;
  }
  main h2 {
    font-size: 3em;
    color: #0078c1;
  }
  label {
    display: none;
  }
  nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    margin-top: 40px;
    width: 100%;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    color: rgb(7, 7, 7);
    padding: 1em;
    transform: 2ms ease-in;
    position: relative;
  }
  nav ul li a:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: rgb(255, 77, 7);
    transition: all 1.1s ease;
  }
  nav ul li a:hover:before {
    width: 100%;
  }

  /* Sobre */
  #sobre {
    background-attachment: fixed;
  }
  #destaqueSobre {
    display: inline;
  }
  #destaqueSobre img {
    width: 550px;
    height: 350px;
    border-radius: 15px;
    margin-right: 50px;
  }
  .topicosSobre {
    display: inline-block;
    flex-direction: row;
    width: 15vh;
  }
  /*One page*/
  .Flex3 {
    flex-direction: row;
    align-items: center;
  }
  #destaqueonepage img {
    display: flex;
    width: 550px;
    height: 350px;
    border-radius: 15px;
    margin-left: 50px;
  }

  /* Wireframe */
  #wireframe {
    background-attachment: fixed;
  }
  #wireframe span {
    display: inline;
  }
  #qrcode {
    display: inline;
  }
  #qrcode img {
    width: 250px;
    height: 250px;
  }
  /* Rodapé */
  #iconeLocal {
    display: inline;
  }
  #iconeMapa {
    display: none;
  }
  #googlemaps {
    display: inline;
  }
  .Flex6 {
    flex-direction: row-reverse;
  }
  .Flex4 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
